<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 
  {% block title %} {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'project_index' %}"> Portfolio  </a>

        <button onclick="myFunction()">Toggle dark mode</button>

        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
  
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'project_index' %}">Home page</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_index' %}">My Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'autobiography_index' %}">Autobiography (doesn't work yet) </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'certificates_index' %}">Certificate</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>

            


          </ul>
        </div>
    </div>

</nav>

<div class='container'>
{%block page_content %}{%endblock%}
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
<footer>
  <li class="nav-item">
    <a class="nav-link" href="https://www.facebook.com/Ukraine47")"> My facebook</a>
  </li>

</footer>
</html>