{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">

{% for project in projects %}

    <div class="col-sm-10 col-md-4">
        <div class="card bg-dark text-white" >
            <img class="card-img-top" src="{% static project.image %}" alt="ВИБАЧТЕ ФОТО ТИМЧАСОВО ВІДСУТНЄ">
            <div class="card-body"class="collapse multi-collapse" id="multiCollapseExample1" >
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text"overflow: hidden>{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-outline-warning">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}